body{
  background-image: url('images/bg-pattern.jpg');
}

#container{
  width: 70%;
  margin: auto;

  border: 1px solid black;
  height: 800px;
}
.logo-content img{
  width: 130px;
}
.navbar{
  background-image: url("images/bg-navigation.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar ul{
  list-style-type: none;
  list-style: none;
  display: flex;
  padding: 0;
  text-align: center;
}
.navbar ul li{
  flex: 1;
  border: 1px solid black;
}
.navbar ul li.active{
  background-color: red;
}
.navbar ul li:hover{
  background-color: gray;
}
.navbar ul li a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px;
  display: block;
}
.navbar ul li a:hover{
  color: #000;
}